/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e22ce;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
